@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-b';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-b';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-l';
    src: url('../fonts/Lato-Light.ttf');
}

body{
    margin: 0;
    padding: 0;
    margin-top: 75px;
}

.mainbody{
    background-color: blueviolet;
    height: 900px;
    background-size: 100% 100%;
}

header{
    display: flex;
    background-color: rgb(2, 116, 40);
    margin: 0px;
    height: 60px;
    position: fixed;  
    top: 0;  
    z-index: 100;
    width: 100%;
}


.wrapper {
    display: flex;
    width: 300px;
    padding: 8px;
    margin: 8px;
    background-color: rgb(2, 116, 40);
    text-align: center;

}

.wrapper>img{
    width: 120px;
    padding-right: 40px;
}

.three_box{
    display: flex;
    width: 100%;
    background-color: rgb(2, 116, 40);
    align-items: center;
    justify-content: space-between;
}

.three_box>div{
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 20px;
    margin-left: 8px;
    background-color: rgb(43, 170, 50);
    color: #ffffff;
}

.three_box :hover{
    background: #2edc4e
}


ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lato-b', sans-serif;
  transition: .5s linear;
  font-size: 12px;

}

.three {
  display: block;
  min-width: 500px;
  padding-left: 40%;

}

.three ul {
    display: block;
    padding: 0px;
    margin: 0px;
    

}

.three li {
    display: inline-block;

}
.three a {
    padding: 1em;
    display: block;
    color: #444;
    background: #d6f3fc75;
}
.three a:hover {background: #aec2fa6b}

.maimmenu{
    display: flex;
    margin: 0%;
    width: 90%;
    padding-top: 20px;
}

.maimmenu>h1{
    padding-top: 10px;
    font-family: 'Montserrat-b',sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 200px;
    width: 20%;
    margin: 0%;
    color: #ffffff;
}

.slogan{
    padding-top: 150px;
    text-align: center;
    color: #ffffff;
}

.slogan>h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 60px;
    margin: 0px;
    margin-bottom: 30px;
    text-shadow: -1px 0 1px #000;

}

.slogan>h4{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 30px;
    text-shadow: -1px 1px 1px #000;

}

.about{
    text-align: center;
}

.about>h2{
    font-family: 'Montserrat-b',sans-serif;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 30px;
    color:#666666;
    margin-bottom: 100px;
}

.pust1{
    display: block;
    height: 100px;
    
}
.pust2{
    display: block;
    height: 100px;
    background-color: #f8f8f8;
}

.autors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.autor1{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 240px;
    height: auto;
    transition: .5s linear;
    background-color: #f8f8f8;
    padding: 2%;

}

.autor1>h5{
    font-family: 'Montserrat-b',sans-serif;
    font-size: 14px;
    color:#666666;
    margin: 0px;
    margin-bottom: 10px;
}

.autor1>p{
    font-family: 'Lato-l',sans-serif;
    font-size: 16px;
    color:#666666;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 1.6em;
}

.autor1>img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.our{
    display: block;
    text-align: center;
    background-color: #f8f8f8;
    height: 70px;
    padding: 60px;
}

.our1{
    display: block;
    text-align: center;
    background-color: #ffffff;
    height: 70px;
    padding: 60px;
    padding-top: 0px;
}

.our1>h2{
    font-family: 'Montserrat-b',sans-serif;
    font-size: 40px;
    color:#666666;
    margin: 0px;
}

.our>h2{
    font-family: 'Montserrat-b',sans-serif;
    font-size: 40px;
    color:#666666;
    margin: 0px;
}

.ourin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #f8f8f8;
}

.ourin1{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 300px;
    height: auto;
    transition: .5s linear;
    background-color: #f8f8f8;
    padding: 2%;

}

.ourin1>h5{
    font-family: 'Montserrat-b',sans-serif;
    font-size: 14px;
    color:#666666;
    margin: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.ourin1>p{
    font-family: 'Lato-l',sans-serif;
    font-size: 16px;
    color:#666666;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
    width: 300px;
    line-height: 1.6em;
}

.ourin1>img{
    display: block;
    max-width: 48px;
    height: auto;
    padding: 42%;
    padding-top: 0%;
    padding-bottom: 0%;
}
